<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bingo.apphybrid">

    <application>
        <activity android:name="com.bingo.apphybrid.WebActivity" />
        <activity android:name=".IntentFilterActivity">
            <intent-filter>
                <data
                    android:host="filter"
                    android:scheme="router"/>
            </intent-filter>
        </activity>
    </application>


</manifest>
